<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css" type="text/css">
    <title>Homework | Class 04</title>
</head>

<body>
    <h1>Homework exercises</h1>
    <table id="tableForPlanets"></table>
    <br>
    <button id="planetBtn">Click for planets</button>
    <button id="nextTenBtn">NEXT 10</button>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="../scripts/index.js"></script>
</body>

</html>